page-login {

    ion-navbar {
        text-align: center;
    }

    .conteudo {
        top: 80px;
    }

    .btn-entrar {
      text-align: center;
    }

    .link {
        text-align: center;
        color: red;
    }
}
