page-login {

    ion-navbar {
        text-align: center;
    }

    .conteudo {
        margin: auto;
        background-image: url('/assets/imgs/fundo-login.jpg');
        background-size: 100% 100%; 
    }

    .overlay {
        display: block;
        //position: absolute;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(41, 9, 224);
        opacity: .3;
        z-index: -1;
    }


    .form-login {
        top: 150px;
        margin: auto;
        border-radius: 10px;
    }

    .btn-login {
      margin: auto;
      text-align: center;
      display: block;
      margin-top: 180px;
      width: 50%;
      
    }

    .link {
        margin-top: 30px;
        text-align: center;
        color: rgb(255, 255, 255);
    }

    .startup {
        font-family: bold;
        font-size: 20px;
        color:white;
        margin-top: 50px;
    }
}
