<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img class="logo" src="assets/imgs/logo.png" alt="logo">
  </ion-navbar>
</ion-header>

<ion-content>

  <h2 text-center> Lista de Empresas </h2>

  <ion-row (click)="buscarEmpresa()">
    <ion-col text-center>
      Nome
      <hr>
      <ion-list>
        <ion-item text-center> Normatel </ion-item>
        <ion-item text-center> TendTudo </ion-item>
        <ion-item text-center> Dep.Raimundao </ion-item>
        <ion-item text-center> Dep.3 Irmaos </ion-item>
      </ion-list>
    </ion-col>
    
    <hr>
    <hr>
    
    <ion-col text-center>
      Endereço
      <hr>
      <ion-list> 
          <ion-item text-center> W. Soares </ion-item>
          <ion-item text-center> O.Paiva </ion-item>
          <ion-item text-center> Cambeba </ion-item>
          <ion-item text-center> Centro </ion-item>
        </ion-list>
    </ion-col>
  </ion-row>

</ion-content>

<!--
  <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      Nome: {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
-->