page-home {

    ion-header {
        text-align: center;
    }

    h1 {
        background: #8B4513;
        color: white;
        font-family: Georgia;
    }

    .btn-calc {
        text-align: center;
    }
}
